body {
	background-color: darkred;
	color: white;
    margin: 0;
}

@font-face {
    font-family: 'plazaregular';
    src: url('fonts/plaza_regular.woff2') format('woff2'),
         url('fonts/plaza_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-decorativeregular';
    src: url('fonts/plazaef-decorative_regular.woff2') format('woff2'),
         url('fonts/plazaef-decorative_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-inlineregular';
    src: url('fonts/plazaef-inline_regular.woff2') format('woff2'),
         url('fonts/plazaef-inline_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazadultregular';
    src: url('fonts/plazadult_regular.woff2') format('woff2'),
         url('fonts/plazadult_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul li a {
  display: block;
  color: white;
  padding: 40px 80px;
  text-decoration: none;
  font-family: 'plazaregular';
  font-size: 40px;
}

ul li a:hover {
  background-color: darkblue;
}


p {
        font-size: 40px;
        font-family:'plazaregular';
        border-width: 30px;
        text-indent: 30px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

#container {
position: fixed;
top: 0;
display: flex;
flex-direction: column;
}

#MrFreeze {
    height: 100vh;    

}

#header4 {
    font-size: 75px;
    font-family:'plazadultregular';
}

#FreezeContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -5;
}

#Paragraph9 {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px;
	margin: 20px;
	justify-content: center;
}