body {
	background-color: darkred;
	color: white;
    margin: 0;
}

@font-face {
    font-family: 'plazaregular';
    src: url('fonts/plaza_regular.woff2') format('woff2'),
         url('fonts/plaza_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-decorativeregular';
    src: url('fonts/plazaef-decorative_regular.woff2') format('woff2'),
         url('fonts/plazaef-decorative_regular.woff'file:///Users/iim18/Desktop/Interaction%20Design%20(Ish)/FontBlog/images/GothamCity_Batsymbol2.png) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-inlineregular';
    src: url('fonts/plazaef-inline_regular.woff2') format('woff2'),
         url('fonts/plazaef-inline_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazadultregular';
    src: url('fonts/plazadult_regular.woff2') format('woff2'),
         url('fonts/plazadult_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
        font-size: 40px;
        font-family:'plazadultregular';
        border-width: 30px;
        text-indent: 30px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

#GothamBackground2 {
top: 0;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

a {
    color: white;
    font-family: 'plazadultregular', serif;
}

#header1 {
    font-size: 150px;
    font-family: 'plazadultregular', serif;
        font-style: italic;
    font-weight: lighter;
    z-index: 2;

}

#flash {
    position: fixed;
    width: 60%;
    height: 90%;
    opacity: 0;
    z-index: -10;
}

#flash.active {
    animation: flash ease-out 15s;
}

@keyframes flash {
    from { opacity: 1; }
    2% { opacity: 0; }
    3% { opacity: 1; }
    4% { opacity: 0; }
    6% { opacity: 1; }
    8% { opacity: 0; }
    to { opacity: 0; }
}

#GothamPurple {
    position: fixed;
    bottom: 0;
    z-index: -4;
}

#flash {
    position: fixed;
    bottom: 0;
    z-index: -3;

}

#GothamBlack {
    position: fixed;
    bottom: -65px;
    z-index: -2;
}

#GothamRed {
    position: fixed;
    bottom: -20px;
    z-index: -1;
    left: -120px;
}

#BatmanContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}















